@charset 'UTF-8';
@import 'bootstrap.css';

@font-face {
    font-family: "profileFont";
    src: url(Prompt-ExtraNold.ttf);
}

body {
    background-color: bisque;
}

.blog-title {
    font-family: profileFont;
    color: sienna;
}

.row {
    margin: 5px;
}

.link {
    font-family: sans-serif;
    font-size: medium;
    color: bisque;
}

.card {
    background-color: sienna;
}

.rounded-circle {
    height: 300px;
    width: 45%;
}

.related {
    font-family: sans-serif;
    font-size: larger;
}

p {
    text-align: justify;
}

.acc {
    font-family: sans-serif;
    font-size: medium;
    color: sienna;
    margin-top: 15px;
}

input[type="submit"]:hover {
    color: sienna;
    background-color: bisque;
}

input[type="submit"] {
    background-color: sienna;
    color: bisque;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    padding: 20px;
}